@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-template {
    grid-template-columns: 1fr 1fr;
}

.slide-track {
    display: flex;
    width: calc(250px*18);
    animation: scroll 50s linear infinite;
}

@keyframes move-gradient {
    0% {
        background-position: 1% 0;
    }

    50% {
        background-position: 99% 100%;
    }

    100% {
        background-position: 100% 0;
    }
}

.button-animation {
    background-image: linear-gradient(to left, #2d8fe5, #d155b8, #2d8fe5);
    animation: move-gradient 10s ease infinite;
    background-size: 400% 400%;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 9));
    }
}

.slide {
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
    border-radius: 10px;
}

.slide img  {
    width: 100%;
    border-radius: 20px;

}

.slider::before, .slider::after{
    background: linear-gradient(to right, black 0%, rgba(255,255,255, 0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
